.horizontalRule {
    height: 1px;
    width: 900px;
}

@media (max-width: 1024px) {
    .horizontalRule {
        width: 700px;
    }
}

@media (max-width: 500px) {
    .horizontalRule {
        width: 90%;
    }
}
