.horizontalRule {
    height: 1px;
    width: 900px;
    /* background: radial-gradient(circle, rgb(0, 0, 0) 95%, rgba(255, 255, 255, 1) 100%); */
    background: #000000;
}

@media (max-width: 1024px) {
    .horizontalRule {
        width: 700px;
    }
}

@media (max-width: 500px) {
    .horizontalRule {
        width: 90%;
    }
}
