#categoryList {
    width: 60%;
    /* background-color: pink; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 500px) {
    #categoryList {
        width: 100%;
    }
}

.categoryButtons {
    font-size: 15px;
    font-weight: 400;
    border: none;
    /* border: 1px solid black; */
    color: black;
    background-color: transparent;
    margin: 0 10px 15px 10px;
    transition: transform 0.2s;
}
.categoryButtons:hover {
    transform: scale(1.1) !important;
}
