#categoryList {
    width: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 500px) {
    #categoryList {
        width: 100%;
    }
}

.categoryButtons {
    font-size: 15px;
    font-weight: 300;
    border: none;
    color: black;
    background-color: transparent;
    margin: 0 10px 15px 10px;
    transition-duration: 0.2s;
}
.categoryButtons:hover {
    transform: translateY(-1px) scale(1.1);
}

.selectedCategory {
    font-size: 16px;
    font-weight: 500;
}
.selectedCategory:hover {
    transform: none;
}
