#postDetailContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#postDetailTitle {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

#postMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    /* background-color: #003da5; */
}

#postDetailMeta {
    width: 100%;
    font-size: 12.8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#likeButton {
    border: none;
    background-color: transparent;
    margin-right: 5px;
    transition: transform 0.2s;
}

#likeButton:hover {
    transform: scale(1.1);
}

#comments {
    margin-top: 40px;
    padding: 10px 20%;
}
#comments span {
    font-weight: 500;
    position: relative;
    bottom: -10px;
}

/* markdown 디자인 수정 */
.postMarkdown {
    color: black !important;
}

.postMarkdown hr {
    border: 0 !important;
    height: 1px !important;
    background-color: #cecece !important;
}
.postMarkdown h1,
.postMarkdown h2 {
    border-bottom: 1px solid #cecece !important;
    /* margin-bottom: 0 !important; */
}

.postMarkdown pre,
.postMarkdown code {
    background-color: #cecece !important;
}

.postMarkdown code {
    border: 1px solid #9f9f9f !important;
}

.postMarkdown blockquote {
    border-left: 4px solid #cecece !important;
}

.postMarkdown a {
    color: #003da5 !important;
}

.postMarkdown pre div {
    color: #9f9f9f !important;
    border: 1px solid #9f9f9f !important;
    background-color: #db2828 !important;
    background-color: #ffffff !important;
}
.postMarkdown pre div:hover {
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

.postMarkdown table tr:nth-child(even) {
    background-color: #cecece !important;
}

.postMarkdown th,
.postMarkdown td {
    border: 1px solid #9f9f9f !important;
}

.postMarkdown p > img {
    border: 1px solid #9f9f9f !important;
    border-radius: 6px !important;
    margin: 0 auto !important;
    display: block !important;
}
