.pageButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageContainer {
    margin: 0 15px;
}
.pageButtons {
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: grid;
    place-items: center;
}
.pageButtons:disabled {
    cursor: default;
}
