.page {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#postListHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pageTitle {
    font-weight: 300;
}

#postList {
    width: 100%;
    margin: 50px 0;
    flex: 1;
}

@media (max-width: 1024px) {
    #postList {
        margin: 40px 0 10px;
    }
}

@media (max-width: 500px) {
    #postList {
        width: 100%;
        margin: 25px 0 0;
    }
}
